<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.healthmudi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".ProjectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProjectManageHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SubjectsHomeActivity"/>
        <activity android:name=".subjects_home.one.SubjectsPersonalActivity"/>
        <activity android:name=".subjects_home.one.SubjectsPersonalSerachActivity"/>
        <activity android:name=".subjects_home.one.PlannedInterviewActivity"/>
        <activity android:name=".subjects_home.one.PlannedInterviewMattersNeedingAttentionActivity"/>
        <activity android:name=".subjects_home.one.ResearchEndVisitActivity"/>
        <activity android:name=".subjects_home.one.EntryGroupBasicInformationActivity"/>
        <activity android:name=".subjects_home.one.RegularVisitsActivity"/>
        <activity android:name=".subjects_home.four.WorkTimeSubmissionActivtiy"/>
        <activity android:name=".subjects_home.four.InstitutionEstablishmentActivity"/>
        <activity android:name=".subjects_home.four.EthicalSubmissionActivity"/>
        <activity android:name=".subjects_home.four.ContractFollowUpActivity"/>
        <activity android:name=".subjects_home.four.ProjectStartMeetingActivity"/>
        <activity android:name=".subjects_home.four.PresiftingActivity"/>
        <activity android:name=".subjects_home.four.SaeReportActivity"/>
        <activity android:name=".subjects_home.four.VisitorsVisitToTheRulesActivity"/>
        <activity android:name=".subjects_home.four.EDCFillInActivity"/>
        <activity android:name=".subjects_home.three.SignHistoryActivity"/>
        <activity android:name=".subjects_home.three.PunchClockSelectLocationActivity"/>
        <activity android:name=".home_fragment.InformationListActivity"/>
        <activity
            android:name=".subjects_home.five.AddReportFormActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".subjects_home.five.ReportFormDetailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".ExitProjectManagerActivity"/>
    </application>

</manifest>